<mat-card class="mat-form-field--inline">
<mat-form-field [style.width.px]="410" appearance="fill">
    <mat-label>Product Code</mat-label>
    <input matInput>
</mat-form-field>
<br>
<mat-form-field [style.width.px]="410" appearance="fill">
    <mat-label>Product Name</mat-label>
    <input matInput>
</mat-form-field>
<br>
<mat-form-field [style.width.px]="410" appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
    <mat-label>Product Qty</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Minimum Qty</mat-label>
    <input matInput>
</mat-form-field>
<br>
<mat-form-field [style.width.px]="130" appearance="fill">
    <mat-label>Stock ID</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field [style.width.px]="130" appearance="fill">
    <mat-label>Unit Price</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field [style.width.px]="130" appearance="fill">
    <mat-label>Selling Price</mat-label>
    <input matInput>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>    
</mat-card>

<br>
<br>