<mat-card class="example-card">
<div class="container">
       <button mat-raised-button [style.width.px]="150" type="button" routerLink="/billing" color="primary" class="btn btn-secondary">Billing</button>
       <br><br>
       <button mat-raised-button [style.width.px]="150" type="button" routerLink="/inventory" color="primary" class="btn btn-secondary">Inventory</button>
       <br><br>
       <button mat-raised-button [style.width.px]="150" type="button" routerLink="/bnf" color="primary" class="btn btn-secondary">BNF</button>
       <br><br>
       <button mat-raised-button [style.width.px]="150" type="button" routerLink="/notification" color="primary" class="btn btn-secondary">Notifications</button>
       <br><br>
       <button mat-raised-button [style.width.px]="150" type="button" routerLink="/new-account" color="primary" class="btn btn-secondary">Create Accounts</button>
       <br><br>
       <button mat-raised-button [style.width.px]="150" type="button" routerLink="/reports" color="primary" class="btn btn-secondary">Reports</button>
       <br><br>
       <button mat-raised-button [style.width.px]="150" type="button" (click)="onLogout()" routerLink="" color="primary" class="btn btn-secondary">Exit</button>
   </div>  
  </mat-card>